.pokemon-cards-list
  flex: 1 1 auto
  overflow: auto

.pokemon-card
  border-bottom: 1px solid lightgray
  align-items: center
  display: flex
  padding: $m-sm $m-base

  &__img
    flex: 0 0 96px

  &__info
    flex: 0 0 300px
    margin: 0 $m-base