.pokemon-card
  align-items: center
  display: flex
  padding: $m-sm $m-base
  min-height: 180px

  &:nth-of-type(even)
    background-color: $color-gray-lighter

  &__img
    align-items: center
    display: flex
    filter: drop-shadow(4px 4px 4px rgba($color-black, .2))
    flex: 0 0 128px
    justify-content: center

  &__info
    flex: 0 0 300px
    margin: 0 $m-base

  &__table
    td
      text-align: right

      &:first-child
        color: $color-gray

      &:nth-child(2)
        width: 50px

  &__graph-wrapper
    background-color: $color-gray-light
    border-radius: $border-radius-sm
    overflow: hidden
    width: 200px

  &__graph
    background-color: $brand-primary
    height: $m-sm
    position: relative

    &:before
      +pseudoelement
      background-image: linear-gradient(70deg, rgba(255,255,255,.2), rgba(255,255,255,0))

    &.-low
      background-color: $brand-danger

    &.-high
      background-color: $brand-success