=type-color($color)
  color: $color

  &:hover
    background-color: rgba($color, .2)

  &.-active
    background-color: $color

.btn
  +animate(background-color, color)
  border: none
    radius: $border-radius-sm
  cursor: pointer
  display: inline-block
  font:
    family: $font-stack-body
    size: $font-size-sm
    weight: $font-weight-bold
  letter-spacing: .5px
  line-height: $line-height-base
  padding: $m-sm $m-base
  text:
    decoration: none
    transform: uppercase

  &:focus
    outline: none

  &:hover
    +media-touch-devices
      background-color: inherit !important
      color: inherit !important

  //----- color versions -----------------------------------------------------------------------------------------------
  &.-primary
    background-color: $brand-primary
    color: $color-white

    &:hover
      background-color: rgba($brand-primary, .7)

  &.-default
    background-color: $color-gray-lighter
    color: $color-gray-dark

    &:hover
      background-color: $color-gray-light

    &.-active
      background-color: $color-gray

  &.-bug
    +type-color(#9cb820)

  &.-dragon
    +type-color(#7038f8)

  &.-fairy
    +type-color(#f09ad9)

  &.-fire
    +type-color(#f08030)

  &.-ghost
    +type-color(#705898)

  &.-ground
    +type-color(#e0b668)

  &.-normal
    +type-color(#a8a8a8)

  &.-psychic
    +type-color(#eb2d77)

  &.-steel
    +type-color(#6d8f9c)

  &.-dark
    +type-color(#504843)

  &.-electric
    +type-color(#c09643)

  &.-fighting
    +type-color(#c03028)

  &.-flying
    +type-color(#9096f0)

  &.-grass
    +type-color(#22c02a)

  &.-ice
    +type-color(#98d8d8)

  &.-poison
    +type-color(#a040a0)

  &.-rock
    +type-color(#b8a038)

  &.-water
    +type-color(#6890f0)

  &.-active
    color: $color-white
